{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} efurls {% endblock %}</h1>
    <form method="post">
    <div class="form-group">
        <label for="url">URL</label>
        <input type="text" name="url"
               placeholder="URL to shorten" class="form-control"
               value="{{ request.form['url'] }}" autofocus></input>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
    </form>

    {% if short_url %}
    <hr>
    <span>{{ short_url }}</span>
    <br>
    <hr>
    <div class="form-group">
        <button onclick="window.open('{{ short_url }}')" target="_blank" type="button" class="btn btn-success">Go to link</button>
    </div>


    {% endif %}
{% endblock %}
